{% extends 'core/base.html' %}
{% load static %}

{% block title %} Motoristas{% endblock title %}
{% block page_header %} Motoristas {% endblock page_header %}


{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-sm btn-success openPopup" href="javascript:void(0);" data-href="{% url 'motorista:cadastrar_motorista' %}"><i class="fas fa-plus"></i> Cadastrar</button>
            <button id="buscar" class="btn btn-dark btn-sm"><i class="fas fa-search"></i> Buscar</button>
        </div>
        <div class="table-responsive col-12">
            <table id="motorista-table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Unidade</th>
                        <th>OP</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for motorista in motoristas %}
                        <tr>
                            <td><a class="link" href="{% url 'motorista:detalhe_motorista' pk=motorista.id %}" rel="noopener noreferrer">{{ motorista.nome }}</a></td>
                            <td>{{ motorista.unidade }}</td>
                            <td width="10%">
                                <a href="javascript:void(0);" data-href="{% url 'motorista:editar_motorista' pk=motorista.id %}" class="btn btn-sm btn-primary openPopup"><i class="fas fa-edit"> </i> </a>
                                <a href="javascript:void(0);" data-href="{% url 'core:remover_registro' pk=motorista.id app='motorista' model='motorista' %}" class="btn btn-sm btn-danger openPopup"><i class="fas fa-trash"> </i></a>
                            </td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Unidade</th>
                        <th>OP</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
{% endblock content %}


{% block scripts %}
<script>
$(document).ready(function() {
    $('#motorista-table').DataTable();
    $('#motorista-table_length').hide();
    $("#motorista-table_filter").hide();

    $("#buscar").click(function(){
        if($("#motorista-table_filter").is(":hidden")){
            $("#motorista-table_filter").show();
        }else{
            $("#motorista-table_filter").hide();
        }
    })
} );
</script>
{% endblock scripts %}
    